.body{
    background-color: rgb(78, 78, 78);
    font-family: Arial, sans-serif;
    color: white
}

.home{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(133, 133, 133);
    box-shadow: 0px 0px 20px rgb(44, 44, 44);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.home >a{
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(78, 78, 78);
    box-shadow: 0px 0px 0px rgb(44, 44, 44);
    transition: box-shadow 0.2s, padding 0.3s;
}
.home >a:hover{
    box-shadow: 0px 0px 10px rgb(44, 44, 44);
    padding: 5px 15px;
}
.home >a:active{
    box-shadow: 0px 0px 0px rgb(44, 44, 44);
}
.home >a>h3{
    color: white;
}

.invoiceFrame{
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.invoiceFrame>a{
    text-decoration: none;
    color: white;
    background-color: rgb(133, 133, 133);
    box-shadow: 0px 0px 20px rgb(44, 44, 44);
    padding: 30px;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.invoiceFrame>a:hover{
    background-color: rgb(151, 151, 151);
}